.markdown {
    & > p {
        margin-bottom: 1em;
    }

    & > h1 {
        @extend .header-h2;
    }

    & > h2 {
        @extend .header-h2;

        a {
            color: unset;
        }
    }

    & > h3 {
        @extend .title, .is-3;
    }

    & > h4 {
        @extend .title, .is-4;
    }

    & > h5 {
        @extend .title, .is-5;
    }

    & > h6 {
        @extend .title, .is-6;
    }

    & > blockquote {
        font-style: italic;
        margin: 1em 0 1em 0.5em;
        padding-left: 1em;
        border-left: solid 0.25em #f0f0f0;
        background: rgba(#f0f0f0, 0.5);
    }

    & > pre {
        margin-top: 2em;
        margin-bottom: 2em;
    }

    & > ul {
        margin-left: 2em;
        list-style: disc;
    }

    & > ol {
        margin-left: 2em;
        list-style: decimal;
    }
}